2. Annotation/2c. Gene curation/tlei_scaffolds_in_gff.txt
2. Annotation/2c. Gene curation/tlei_scaf_missing_in_fasta.txt
2. Annotation/2c. Gene curation/tlei_gff_scaffolds_in_fasta.txt
2. Annotation/2c. Gene curation/tlei_fasta_headers.txt
2. Annotation/2c. Gene curation/tfas_fasta_headers.txt
2. Annotation/2c. Gene curation/script_rename_fasta_headers.py
2. Annotation/2c. Gene curation/GCA_029204045.2_TLei_v1.1_genomic.fna
2. Annotation/2c. Gene curation/GCA_029168755.2_TFas_v1.1_genomic.fna
